@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-primaria: #10403B;
    --cor-secundaria: #127369;
    --cor-terciaria: #8AA6A3;
    
}

.sr{
    overflow-x: hidden;
}