section#sobre{
    width: 100vw;
    height: 50vh;
    background-color: var(--cor-primaria);
    color: #ffffff;
}

.sobre-altura{
    width: 100%;
    padding-top: 61px;
    
}

.sobre-centralizador{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;
    padding: 0% 10%;
    gap: 2rem;
}

.sobre-apresentacao{
    font-family: 'PT Sans Narrow', sans-serif;
}

.sobre-apresentacao h1 {
    font-size: 32px;
    line-height: 48px;
    padding: 10px 0px;
    text-align: center;
}

.sobre-apresentacao h2 {
    font-size: 24px;
    line-height: 48px;
    font-weight: 400;
    text-align: justify;
}


@media screen and (max-width: 1618px){
    section#sobre{
        height: max-content;
    }
    .sobre-altura{
        padding-bottom: 61px;
    }
}